
html {
  background-color: #443f49;
  
 }
 
 a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
 }

 h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  font-family:Impact, Charcoal, sans-serif;
  /* display:inline-block;
  margin: 40px 8px 10px 8px;  */
  color: #dddddd;
 }
 h3{
   text-align: center;
   font-family: Comic Sans MS, Comic Sans, cursive;
 }
 .btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding:10px 10px;
  font-size:10px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:10px 10px;
  color:#1b1b1b;
}
 table.center {
  margin-left: auto; 
  margin-right: auto;
}
 table, th, td {
    border: 1px solid rgb(193, 193, 193);
    text-align: center;
    vertical-align: top;
    color: #dddddd;
  }

