<html>
    <head>
        <title>Cryptology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> 
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>
