<html>
    <head>
        <title>Cryptology</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> 
    </head>
    <body>
        <nav>
            App: 
            <a href="/index" class="btn">Home</a>
            <a href="{{ url_for('task1') }}" class="btn">task1</a>
            <a href="{{ url_for('task2') }}" class="btn">task2</a>
            <a href="{{ url_for('task3') }}" class = "btn">task3</a>
            <a href="{{ url_for('task4') }}" class = "btn">task4</a>
            <a href="{{ url_for('task5') }}" class = "btn">task5</a>
            <a href="{{ url_for('task6') }}" class = "btn">task6</a>
            <a href="{{ url_for('task7') }}" class = "btn">task7</a>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
