{% extends "base.html" %}

{% block content %}
    <h1>Cryptology</h1>
    <div class='time'><p>Today is:{{today}}</p></div>
    <h3>Task 1:</h3>
    <h3>Frequency analysis</h3>
        <pre><h4>
Build a frequency table for the English language.
Requirements:
- Ability to import input text for analysis from a file (text size ~ 100 thousand words)
- Ability to sort the frequency table by alphabet or frequency
- Ability to write the resulting frequency table to a file for use in the following tasks
- Frequency (number between 0 and 1)
- UI: window about, menu, the most frequent table and the corresponding buttons to work with it
        </h4></pre>
    
        <h3>Task 2:</h3>
        <h3>Simple replacement cipher</h3>
            <pre><h4>
Encrypt and decrypt text.
            </h4></pre>

{% endblock %}