{% if task == 1 %}
{% extends "task1.html" %}

{% elif task == 2 %}
{% extends "task2.html" %}

{% elif task == 21 %}
{% extends "change_table.html" %}

{% elif task == 3 %}
{% extends "task3.html" %}

{% endif %}


{% block table %}

{% if task == 2 or task == 3 %}
<form method="POST">
    <input class="btn" type="submit" value="change" name="change ltr"/>
</form>
{% endif %}

<h3>Total count of letters = {{total}}</h3>
{% if task == 1 %}
<h3>Sorted by {{text}}:</h3>
{% endif %}
<table class="center">
    
    <tr>
        <th>Letter</th>
        {% for key in result1.keys() %}
            <th> {{ key }} </th>
            
        {% endfor %}
    </tr>
    <tr>
        <td>{{value}}</td>
        {% for  value in result1.values() %}
            
            <td> {{ value }} </td>
        {% endfor %}
    </tr>
</table>

{% endblock %}