{% extends "base.html" %}

{% block content %}
    <h3>Task 5</h3>
    <h3>One Time Pad</h3>
    <fieldset style="width: 25%;">
        <p>Input message:</p>
        <form method="POST">
            <input name="message"/>
            <input type="submit" value="input text" name="in message"/>
        </form>
        <p>or upload it:</p>
        <form action="" method="POST">
            <input class="btn" type="submit" value="upload" name="upload file"/>
        </form>
    </fieldset>
    <fieldset style="width: 25%;">
        <p>Input Key:</p>
        <form method="POST">
            <input name="key"/>
            <input type="submit" value="input text" name="in key"/>
        </form>
        <form method="POST">
            <input class="btn" type="submit" value="generate" name="generate key"/>
            <input class="btn" type="submit" value="upload" name="upload key"/>
        </form>
    </fieldset>
    <!-- <h4>Key:{{ key }}</h4> -->
    <fieldset style="width: 25%;">
        <h4>What to do:</h4>
        <form method="POST">
            <input class="btn" type="submit" value="encrypt" name="encrypt"/>
            <input class="btn" type="submit" value="decrypt" name="decrypt"/>
        </form>
    </fieldset>
    <fieldset style="width: 25%;">
        <h4>Messages:</h4>
        <p>Before:</p>
        <p> {{before}}</p>
        <p>Key: {{key}}</p>
        <p>After:</p>
        <p>{{after}}</p>
        <p></p>
    </fieldset>
        
{% endblock %}