{% extends "base.html" %}

{% block content %}
    <h4>Count each letter in text</h4>
    <form method="POST">
        <input name="text"/>
        <input type="submit" value="input text" name="input"/>
    </form>
    <form action="" method="POST">
        <input class="btn" type="submit" value="upload" name="upload file"/>
        <input class="btn" type="submit" value="save" name="save results"/>
        <input class="btn" type="submit" value="show" name='show text'/>
    </form>
    <h4>Sort by:</h4>
    <form method="POST">
        <input class="btn" type="submit" value="letter" name="sort by letters"/>
        <input class="btn" type="submit" value="count" name="sort by count"/>
    </form>
    {% block table %}
    {% endblock %}
    
        
        
{% endblock %}